<!DOCTYPE HTML>
<html>

<head>
    <title>cars</title>
    {% block head %}
        <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
        <meta name="keywords" content="Template, html, premium, themeforest" />
        <meta name="description" content="Traveler - Premium template for travel companies">
        <meta name="author" content="Tsoy">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block stylesheet %}
    <link rel="stylesheet"href="{{ asset('css/bootstrap.css') }}"/>
    <link rel="stylesheet"href="{{ asset('css/font-awesome.css') }}"/>
    <link rel="stylesheet"href="{{ asset('css/icomoon.css') }}"/>
    <link rel="stylesheet"href="{{ asset('css/styles.css') }}"/>
    <link rel="stylesheet"href="{{ asset('css/mystyles.css') }}"/>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700'  >
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600' >

    {% endblock %}
    {% block javascript %}
        <script src="{{ asset('js/modernizr.js') }}"></script>
    {% endblock %}

    {% endblock %}


</head>

<body>

<!-- FACEBOOK WIDGET -->
<div id="fb-root"></div>
<script>
    (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<!-- /FACEBOOK WIDGET -->
<div class="global-wrap">
    <header id="main-header">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <a class="logo" href="{{ path('profile_user')}}">
                            <img src=" {{ asset ('img/logo-invert.png')}}" alt="Image Alternative text" title="Image Title" />
                        </a>
                    </div>
                    <div class="col-md-3 col-md-offset-2">

                    </div>
                    <div class="col-md-4">
                        <div class="top-user-area clearfix">
                            <ul class="top-user-area-list list list-horizontal list-border">
                                <li class="top-user-area-avatar">
                                    <a  href="{{ path('profile_user')}}">
                                        <img class="origin round" src=" {{ asset ('img/40x40.png')}}" alt="Image Alternative text" title="AMaze" />Hi,  <a  href="{{ path('profile_user',{'username':username})}}">   {{username }}</a> </a>
                                </li>
                                <li> <a href="{{ path('fos_user_security_logout') }}">
                                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                    </a>
                                </li>



                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="nav">
                <ul class="slimmenu" id="slimmenu">



                    <li><a href="#">Vol</a></li>
                    <li><a href="#">Hotel</a></li>
                    <li><a href="{{path('carssearch',{'username':app.user.username})}}">Voiture</a>
                    <li><a href="#">Croisiere</a></li>
                    <li><a href="#">Voyage Organise</a></li>
                    <li><a href="#">Email</a></li>
                </ul>
            </div>
        </div>
    </header>





    <div class="container">

        <div class="booking-item-details">

            <header class="booking-item-header">
                <div class="row">
                    <div class="col-md-9">
                        <h2 class="lh1em">{{ marque }}</h2>

                    </div>
                    <div class="col-md-3">
                        <p class="booking-item-header-price"><small>price</small>  <span class="text-lg">{{ prix }}</span>/day</p>
                    </div>
                </div>
            </header>
            <div class="gap gap-small"></div>
            <div class="row row-wrap">
                <div class="col-md-9">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="{{photo }}" alt="Image Alternative text" title="Image Title" />
                        </div>
                        <h1>{{ alerte }}</h1>

                    </div>

                    <hr>

                </div>
                <div class="col-md-3">
                    <div class="booking-item-deails-date-location">















                        {{ form_start(f) }}
                        <ul>
                            <li>
                                <h4>Location:</h4>
                                <h5>voiture situé à proximité de {{ nomville }}</h5>
                            </li>
                            <li>
                                <h4>Pick Up:</h4>

                                <p><i class="fa fa-calendar box-icon-inline box-icon-gray"></i> {{ form_widget(f.datereservation) }}</p>

                            </li>
                            <li>
                                <h4>Drop Off:</h4>

                                <p><i class="fa fa-calendar box-icon-inline box-icon-gray"></i> {{ form_widget(f.datefinreservation) }}</p>

                            </li>
                        </ul>
                        {{ form_end(f) }}
                    </div>

                    <div class="gap gap-small"></div>
                </div>
            </div>
        </div>
    </div>




    {% block javascripts %}
        <script src="{{ asset('js/jquery.js') }}"></script>
        <script src="{{ asset('js/bootstrap.js') }}"></script>
        <script src="{{ asset('js/slimmenu.js') }}"></script>
        <script src="{{ asset('js/bootstrap-datepicker.js') }}"></script>
        <script src="{{ asset('js/bootstrap-timepicker.js') }}"></script>
        <script src="{{ asset('js/nicescroll.js') }}"></script>
        <script src="{{ asset('js/dropit.js') }}"></script>
        <script src="{{ asset('js/ionrangeslider.js') }}"></script>
        <script src="{{ asset('js/icheck.js') }}"></script>
        <script src="{{ asset('js/fotorama.js') }}"></script>
        <script src="{{ asset('https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false') }}"></script>
        <script src="{{ asset('js/typeahead.js') }}"></script>
        <script src="{{ asset('js/card-payment.js') }}"></script>
        <script src="{{ asset('js/magnific.js') }}"></script>
        <script src="{{ asset('js/owl-carousel.js') }}"></script>
        <script src="{{ asset('js/fitvids.js') }}"></script>
        <script src="{{ asset('js/tweet.js') }}"></script>
        <script src="{{ asset('js/countdown.js') }}"></script>
        <script src="{{ asset('js/gridrotator.js') }}"></script>
        <script src="{{ asset('js/custom.js') }}"></script>




    {% endblock %}
</div>
</body>

</html>
